{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="bg-primary">C'est chiant ✅</h1>
    </div>
{% endblock %}
